# pycache
__pycache__/

# data
static/

# Jupyter Notebook
.ipynb_checkpoints

# Personal info
personal/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv 
SerpApi_Images/Cat99.jpg
SerpApi_Images/Cat98.jpg
SerpApi_Images/Cat97.jpg
SerpApi_Images/Cat96.jpg
SerpApi_Images/Cat95.jpg
SerpApi_Images/Cat94.jpg
SerpApi_Images/Cat93.jpg
SerpApi_Images/Cat92.jpg
SerpApi_Images/Cat91.jpg
SerpApi_Images/Cat90.jpg
SerpApi_Images/Cat9.jpg
SerpApi_Images/Cat89.jpg
SerpApi_Images/Cat88.jpg
SerpApi_Images/Cat87.jpg
SerpApi_Images/Cat86.jpg
SerpApi_Images/Cat85.jpg
SerpApi_Images/Cat84.jpg
SerpApi_Images/Cat83.jpg
SerpApi_Images/Cat82.jpg
SerpApi_Images/Cat81.jpg
SerpApi_Images/Cat80.jpg
SerpApi_Images/Cat8.jpg
SerpApi_Images/Cat79.jpg
SerpApi_Images/Cat78.jpg
SerpApi_Images/Cat77.jpg
SerpApi_Images/Cat76.jpg
SerpApi_Images/Cat75.jpg
SerpApi_Images/Cat74.jpg
SerpApi_Images/Cat73.jpg
SerpApi_Images/Cat72.jpg
SerpApi_Images/Cat71.jpg
SerpApi_Images/Cat70.jpg
SerpApi_Images/Cat7.jpg
SerpApi_Images/Cat69.jpg
SerpApi_Images/Cat68.jpg
SerpApi_Images/Cat67.jpg
SerpApi_Images/Cat66.jpg
SerpApi_Images/Cat65.jpg
SerpApi_Images/Cat64.jpg
SerpApi_Images/Cat63.jpg
SerpApi_Images/Cat62.jpg
SerpApi_Images/Cat61.jpg
SerpApi_Images/Cat60.jpg
SerpApi_Images/Cat6.jpg
SerpApi_Images/Cat59.jpg
SerpApi_Images/Cat58.jpg
SerpApi_Images/Cat57.jpg
SerpApi_Images/Cat56.jpg
SerpApi_Images/Cat55.jpg
SerpApi_Images/Cat54.jpg
SerpApi_Images/Cat53.jpg
SerpApi_Images/Cat52.jpg
SerpApi_Images/Cat51.jpg
SerpApi_Images/Cat50.jpg
SerpApi_Images/Cat5.jpg
SerpApi_Images/Cat49.jpg
SerpApi_Images/Cat48.jpg
SerpApi_Images/Cat47.jpg
SerpApi_Images/Cat46.jpg
SerpApi_Images/Cat45.jpg
SerpApi_Images/Cat44.jpg
SerpApi_Images/Cat43.jpg
SerpApi_Images/Cat42.jpg
SerpApi_Images/Cat41.jpg
SerpApi_Images/Cat40.jpg
SerpApi_Images/Cat4.jpg
SerpApi_Images/Cat39.jpg
SerpApi_Images/Cat38.jpg
SerpApi_Images/Cat37.jpg
SerpApi_Images/Cat36.jpg
SerpApi_Images/Cat35.jpg
SerpApi_Images/Cat34.jpg
SerpApi_Images/Cat33.jpg
SerpApi_Images/Cat32.jpg
SerpApi_Images/Cat31.jpg
SerpApi_Images/Cat30.jpg
SerpApi_Images/Cat3.jpg
SerpApi_Images/Cat29.jpg
SerpApi_Images/Cat28.jpg
SerpApi_Images/Cat27.jpg
SerpApi_Images/Cat26.jpg
SerpApi_Images/Cat25.jpg
SerpApi_Images/Cat24.jpg
SerpApi_Images/Cat23.jpg
SerpApi_Images/Cat22.jpg
SerpApi_Images/Cat21.jpg
SerpApi_Images/Cat20.jpg
SerpApi_Images/Cat2.jpg
SerpApi_Images/Cat19.jpg
SerpApi_Images/Cat18.jpg
SerpApi_Images/Cat17.jpg
SerpApi_Images/Cat16.jpg
SerpApi_Images/Cat15.jpg
SerpApi_Images/Cat14.jpg
SerpApi_Images/Cat13.jpg
SerpApi_Images/Cat12.jpg
SerpApi_Images/Cat11.jpg
SerpApi_Images/Cat10.jpg
SerpApi_Images/Cat1.jpg
SerpApi_Images/Cat0.jpg
